img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

button {
  padding: 20px;
  background-color: rgb(233, 206, 31);
  border-radius: 20ch;
  box-shadow: inset 10px 10px 10px;
  font-size: 24px;
}
